mixin block-gsap(data)
    section.block-gsap
        ul.box
            li#box-item-one.box-item
                | 1
            li#box-item-two.box-item
                | 2
            li#box-item-three.box-item
                | 3
            li#box-item-four.box-item
                | 4
        .box-welcome
            | gsap