.title {
    position: absolute;
    border: 6px solid forestgreen;
    border-radius: 6px;
    padding: 10px 20px;
    min-width: 500px;
    min-height: 80px;
    top: 20px;
    left: 20px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
}

.box {
    position: absolute;
    top: 250px;
    left: 50px;
    width: 200px;
    height: 200px;
    /*background-image: radial-gradient( yellow, red );*/
}

.start {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    padding: 10px 20px;
    min-width: 100px;
    min-height: 40px;
    cursor: pointer;
    background-color: lightgreen;
    text-transform: uppercase;
    border-radius: 6px;
}

.start:focus {
    outline: none;
}