doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/part-one/part-one
    include ../components/footer/footer

    head
        +head(head.one)
    body.page
        |%=symbols=%

        section.page__wrapper

            //- Include your components here
            +part-one()

            .page__buffer

        .page__footer
            +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
