// --------------------------------------
.page__wrapper
    height 100%

// --------------------------------------
.doughnut-chart
    lost-center 100% flex
    height 100%

// --------------------------------------
.doughnut-chart__item
    lost-column 1/4 flex
    lost-column-gutter 10px

// --------------------------------------
.doughnut-chart text
    font-size: 40px
    text-anchor: middle
    font-family: sans-serif

// --------------------------------------
.doughnut-chart path
    stroke: #fff
    stroke-width: 2px
