mixin doughnut-chart()
    ul.doughnut-chart
        li.doughnut-chart__item.doughnut-chart__item--primo
        li.doughnut-chart__item.doughnut-chart__item--secondo
        li.doughnut-chart__item.doughnut-chart__item--tetro
        li.doughnut-chart__item.doughnut-chart__item--quattro
