// --------------------------------------
.doughnut-chart
    display: flex
    justify-content: space-around
    align-items: center

// --------------------------------------
.doughnut-chart text
    font-size: 40px
    text-anchor: middle
    font-family: sans-serif

// --------------------------------------
.doughnut-chart path
    stroke: #fff
    stroke-width: 2px
