.box
    position: relative
    z-index: 2

.box__html
    width: 200px
    height: 200px
    background-color: lighten( #2b4d66, 10 );
    position: relative;
    
    & > p
        margin: 0
        font-size: 40px
        position: absolute;
        bottom: 20px
        width: 100%
        text-align: center
        color: #fff;

    & > span
        width: 40px;
        height: 40px;
        border-radius: 50%
        position: absolute;
        background-color: #b1dec7;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50% );

.box__html
    position: absolute
    top: 0
    left: 0

.box__svg
    position: absolute
    top: 0
    left: 0


.control
    position: fixed;
    z-index: 10;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    padding: 60px;
    background-color: rgba(black, 0.2);
    border-radius: 10px;

    & .control__button
        margin: 6px 0;
        border: 2px solid green;
        padding: 6px 20px;
        background-color: greenyellow;
        font-size: 16px;
        color: black;
        border-radius: 4px;





























