.box
    position: relative
    z-index: 2

.box__html
    width: 200px
    height: 200px
    background-color: lighten( #2b4d66, 10 );
    position: relative;
    
    & > p
        margin: 0
        font-size: 40px
        position: absolute;
        bottom: 20px
        width: 100%
        text-align: center
        color: #fff;

    & > span
        width: 40px;
        height: 40px;
        border-radius: 50%
        position: absolute;
        background-color: #b1dec7;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50% );