// Common styles of the project

html, body
    height: 100%
    width: 100%

ul, ol
    list-style-type: none
    padding: 0
    margin: 0

.page
    background-color: wheat

.page__wrapper
    min-height: 100%
    margin-bottom: -50px


* html .page__wrapper
    height: 100%

.page__buffer
    height: 50px