mixin google-charts()
    .google-charts
        .diagramm
          .diagramm__item#diagrammItemUno
              .piechart#pieChartUno
          .diagramm__item#diagrammItemDuo
              .piechart#pieChartDuo
          .diagramm__item#diagrammItemTre
              .piechart#pieChartTre
          .diagramm__item#diagrammItemQuattro
              .piechart#pieChartQuattro
