.diagramm
    lost-center 100%

.diagramm__item
    lost-column 1/4
    lost-column-gutter 2rem
    position relative

    @media screen and ( max-width: 800px )
        lost-column 1/2
        lost-column-gutter 2rem

    @media screen and ( max-width: 500px )
        lost-column 1/1
        lost-column-gutter 0

.piechart
    min-height 30rem

.piechart-value
    position absolute
    top 50%
    left 50%
    transform translate( -50%, -50% )
    font-size 3rem
