*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.piechart {
    width: 100%;
    min-height: 400px;
}

/* Small devices (tablets, 768px and up) */
@media ( min-width: @screen-sm-min ) {
    /**/
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
    /**/
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
    /**/
}
