.bezier {
    background-position: 100% 100%;
}

.wrapper {
    width: 600px;
    height: 600px;
    border: 1px solid firebrick;
    position: relative;
}

.point {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
}

.point-1 {
    left: 300px;
    top: 25px;
}

.point-2 {
    left: 550px;
    top: 300px;
}

.point-3 {
    left: 300px;
    top: 550px;
}

.point-4 {
    left: 25px;
    top: 300px;
}

#plane {
    position: relative;
    z-index: 2;
    font-size: 60px;
    color: firebrick;
    left: 300px;
    top: 25px;
    margin: -12px 0 0 -16px;
}

.bzBtn {
    min-width: 100px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    background-color: lightgreen;
    position: absolute;
    top: 40px;
    right: 40px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    color: white;
    transition: background-color .2s;
}

.bzBtn:hover {
    background-color: seagreen;
}

.bzBtn:focus {
    outline: none;
}