// Common styles of the project

*, *::before, *::after
  box-sizing: border-box

html
  font-size: 62.5%

html, body
    height 100%
    width 100%

.page
    font: 1.6rem/1.2 'Oswald', sans-serif
    color: #000

.page__wrapper
    min-height 100%
    margin-bottom -50px


* html .page__wrapper
    height 100%

.page__buffer
    height 50px
