.stoplight {
    margin: 50px auto 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
}

.stoplight__item {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
}

.stoplight__item--uno {
    background-color: #dc143c;
    opacity: 0;
}

.stoplight__item--duo {
    background-color: #5f9ea0;
    opacity: 0;
}

.stoplight__item--tre {
    background-color: #ffd700;
    opacity: 0;
}
