html {
    font-size: 62.5%;
}

body {
    font: 400 1.6rem/1.2 'Oswald', sans-serif;
    position: relative;
}

.box-container {
    position: absolute;
    border: 1px solid limegreen;
    width: 80rem;
    height: 40rem;
    top: 2rem;
    left: 2rem;
}

.box {
    position: absolute;
    border-width: 30px;
    border-style: solid;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box-uno {
    width: 300px;
    height: 300px;
    border-top-color: tomato;
    border-right-color: gold;
    border-bottom-color: yellowgreen;
    border-left-color: mediumaquamarine;
}

.box-duo {
    width: 220px;
    height: 220px;
    border-top-color: tomato;
    border-right-color: darkorange;
    border-bottom-color: gold;
    border-left-color: mediumseagreen;
}

.box-tre {
    width: 140px;
    height: 140px;
    border-top-color: sandybrown;
    border-right-color: gold;
    border-bottom-color: darkkhaki;
    border-left-color: olive;
}

.box-quattro {
    border-width: 30px;
    border-top-color: rosybrown;
    border-right-color: palegoldenrod;
    border-bottom-color: darkseagreen;
    border-left-color: cadetblue;
}

.controls {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controls__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: limegreen;
    cursor: pointer;
    border: none;
    min-width: 200px;
    min-height: 60px;
    transition: background-color .2s;
}

.controls__item:hover {
    background-color: mediumseagreen;
}

.controls__item span {
    color: whitesmoke;
    text-transform: uppercase;
}
